<%= render :partial => 'users/show/guide_or_angler' %>
<h4>My Upcoming Trips</h4>
<% if @upcoming_trips.count == 0 %>
	You have no upcoming trips.
<% else %>
	<table class="table table-hover table-condensed table-striped">
		<thead>
			<th>Title</th>
			<th>Status</th>
			<th>Trip Date</th>
			<th>Date Posted</th>
			<th>Manage Posts</th>
		</thead>
		<tbody>
			<% @upcoming_trips.each do |post| %>
		    <tr>
			    <small>
			    	<td><%=h truncate(post.title, :length => 30) %> <% if post.title.length > 30 %><% end%></td>
			    	<td cellspacing="10px"><%= BookingStatus.find(post.booking_status_id) %></td>
			    	<td cellspacing="10px"><%=post.date.strftime("%m/%d/%Y") %></td>
			    	<td cellspacing="10px"><%=post.created_at.strftime("%m/%d/%Y") %></td>

			    </small>
		      <td>         
		        <%= link_to 'View Trip', angler_post_path(post), :class => 'btn btn-primary btn-small' %>
		      </td>    
		  </tr>   
			<% end %>
		</tbody>
	</table>
<% end #end has @upcoming_trips %>

<h4>Trips I have Posted</h4> 

<% if @my_posts.count == 0 %>
	You have not posted any trips.
<% else %>
	<table class="table table-hover table-condensed table-striped">
		<thead>
			<th>Title</th>
			<th>Status</th>
			<th>Trip Date</th>
			<th>Date Posted</th>
			<th>Manage Posts</th>
		</thead>
		<tbody>
			<% @my_posts.each do |post| %>
		    <tr>
			    <small>
			    	<td><%=h truncate(post.title, :length => 30) %> <% if post.title.length > 30 %><% end%></td>
			    	<td cellspacing="10px"><%= BookingStatus.find(post.booking_status_id) %></td>
			    	<td cellspacing="10px"><%=post.date.strftime("%m/%d/%Y") %></td>
			    	<td cellspacing="10px"><%=post.created_at.strftime("%m/%d/%Y") %></td>

			    </small>
		      <td>         
		        <div class="btn-group">
	            <button class="btn btn-mini btn-primary" align="center">More</button>
	            <button class="btn btn-mini btn-primary" data-toggle="dropdown">
	              <span class="caret"></span>
	            </button>

	            <ul class="dropdown-menu">
	              <li><%= link_to 'View Post', angler_post_path(post) %></li>
	              <li><%= link_to 'Edit Post', edit_angler_post_path(post) %></li>
	              <li><%= link_to 'Mark as Booked', "/angler_posts/book_trip/#{post.id}/#{current_user.id}" %></li>
	              <li><%= link_to 'Delete Post', post, confirm: 'Are you sure?', method: :delete %></li>
	            </ul>
	          </div>
		      </td>    
		  </tr>   
			<% end %>
		</tbody>
	</table>
<% end #end has @my_posts %>

<%= render :partial => 'users/show/my_locations_map' %>



