<%= render :partial => 'users/show/guide_or_angler' %>

<h4>Trips</h4> 
<table class="table table-hover table-condensed table-striped">
	<thead>
		<th>Title</th>
		<th>Date Posted</th>
		<th>Manage Posts</th>
	</thead>
	<tbody>
		<% @my_posts.each do |post| %>
	    <tr>
		    <small>
		    	<td><%=h truncate(post.title, :length => 30) %> <% if post.title.length > 30 %><% end%></td>
		    	<!-- <td><%= link_to h(post.title), edit_guide_post_path(post) %></td> -->
		    	<td cellspacing="10px"><%=post.created_at.strftime("%m/%d/%Y") %></td>
		    </small>
	      <td>         
	        <div class="btn-group">
	            <button class="btn btn-mini btn-primary" align="center">More</button>
	            <button class="btn btn-mini btn-primary" data-toggle="dropdown">
	              <span class="caret"></span>
	            </button>

	            <ul class="dropdown-menu">
	              <li><%= link_to 'View Post', angler_post_path(post) %></li>
	              <li><%= link_to 'Edit Post', edit_angler_post_path(post) %></li>
	              <li><%= link_to 'Delete Post', edit_angler_post_path(post) %></li>
	            </ul>
	          </div>
	      </td>    
	  </tr>   
		<% end %>
	</tbody>

	
</table>