<h1><font color="red">FinAddictz</font> Private Properties</h1>
<br>

<%= will_paginate @property_posts, :renderer => BootstrapPagination::Rails %>
<% @property_posts.each do |property_post|%>
  
    <div class="row">
      <div class="span8 post_row" <% if property_post ==  @property_posts.last %> style="border-bottom:solid 1px #d3d3d3;" <% end %>>
        <span class="post_created">Posted: <%= property_post.created_at.strftime("%m/%d/%Y") %></span><br>
        <span class="post_title"><%= property_post.title %></span>
        <span class="post_price">$<%= property_post.price %></span><br>
        <br>
        <div><%=property_post.description%></div>
        <br>
        <div>Trip Status: <%=property_post.booking_status%></div>
        <br>

        <%= link_to 'Trip Details', property_post, :class => 'btn btn-primary' %>
      </div>
        <br>
    </div>
    <% end %>
    </div>

<%= will_paginate @property_posts, :renderer => BootstrapPagination::Rails %>

