<h1>Available <font color="red">FinAddictz</font> Trips</h1>
<br>
<div class="horizontal-form-layout">
  <%= form_for request.path, :method => 'get' do |f|%>
    <div class="form-element-wrapper">
      <%= f.label :search_text %>
      <%= text_area_tag :search, params[:search], :rows => '4'%>
    </div>
      
    <div class="form-element-wrapper">
      <%= f.label 'Minimum Price' %>
      <%= text_field_tag :price_min, params[:price_min] %><br/>
      <%= f.label "Maximum Price #{params[:price_max]}" %>
      <%= text_field_tag :price_max, params[:price_max] %>
    </div>

    <div class="form-element-wrapper">
      <%= f.label :start_date %>
      <%= text_field_tag :start_date, params[:start_date] %><br/>
      <%= f.label :end_date %>
      <%= text_field_tag :end_date, params[:end_date] %>
    </div>
    <div class="clear"></div>
    <div class="form-element-wrapper">
      <%= f.submit 'Search trips'%>
    </div>
    <div class="clear"></div>
  <% end %>
</div>


<%= will_paginate @guide_posts, :renderer => BootstrapPagination::Rails %>
<% @guide_posts.each do |guide_post| %>
    <div class="row">
        <div class="span8 post_row" <% if guide_post ==  @guide_posts.last %> style="border-bottom:solid 1px #d3d3d3;" <% end %>>
          <span class="post_created">Posted: <%=  guide_post.created_at.strftime("%m/%d/%Y") %> by <%= guide_post.user %></span><br>
          <span class="post_title"><%= link_to guide_post.title, guide_post %></span>
          <span class="post_price">$<%= guide_post.price_per %></span><br>
          <span class="post_tripDate"><b>Trip Date: <%=  guide_post.date.strftime("%m/%d/%Y") %></span></b><br>
          <%=h truncate(guide_post.description, :length => 80) %> <% if guide_post.description.length > 80 %>...<% end%>
          <br>
          This Trips Status is: <%= guide_post.booking_status %>
          <br><br>

            <%= link_to 'Trip Details', guide_post, :class => 'btn btn-primary' %>
          </div>

            <br>
        </div>
        <% end %>
    </div>

<%= will_paginate @guide_posts, :renderer => BootstrapPagination::Rails %>
