<%= link_to 'Back to Inbox', conversations_url %>
<div class="conversation_messages">
  <% @messages.each do |message| %>
    <div class="msg">
      <div class="message-date"><%= message.created_at %></div>
      <%= image_tag message.user.photo.url(:small), :height => 35, :width => 35, :class => "img-polaroid" %>
      <div class="message-sender"><%= message.who(current_user) %> said:</div>
      <div class="clear"></div>
      <div class="msg-text">
        <%= message.text %>
      </div>
    </div>
  <% end %>
</div>


<%= form_for(@message) do |f| %>
	<%= f.hidden_field :conversation_id, :value => params[:id] %>
	<%= f.hidden_field :user_id, :value => current_user.id %>
  <div class="control-group">
    <div class="controls">
      <%= f.text_area :text, :rows => 3, :class => "text_field"  %>
    </div>
  </div>
  <div class="actions">
    <%= f.submit 'Send', :class => 'btn btn-primary' %>
  </div>
<% end %>


<script type="text/javascript">
  //for scrolling to the bottom of the messages
  $(".conversation_messages").scrollTop($(".conversation_messages")[0].scrollHeight);
</script>