
  <h2>User Management</h2>

    <%= form_for request.path, :method => 'get' do |f|%>
    <!-- <%= f.label 'User Search' %> -->
    <%= text_field_tag :search, params[:search] %>
    <% end %>
   <button type="submit" class="btn btn-inverse">Search Users</button>

   <br><br>


<table>
<div class="row">
  <div class="span6">
<table class="table table-bordered table-striped">
  <colgroup>
    <col class="span3">
    <col class="span3">
  </colgroup>



    <tr>
      <td><b>Name</b></td>
      <td><b>Email Address</b></td>
      <td><b>State</b></td>
      <td><b>Enabled</b></td>
      <td><b>Action</b></td>
    </tr>
    <% @users.each do |user| %>
    <tr>
      <td><%= user.first_name %> <%= user.last_name %></td>
      <td><a href="mailto:<%= user.email %>"><%= user.email %></a></td>
      <td><%= user.state %></td>
      <td><%= user.enable %></td>
      <td>         
        <div class="btn-group">
            <button class="btn btn-primary" align="center">More</button>
            <button class="btn btn-primary" data-toggle="dropdown">
              <span class="caret"></span>
            </button>

            <ul class="dropdown-menu">
              <li><%= link_to 'Show', user %></li>  <!-- show user profile-->
              <li><%= link_to 'Edit', edit_user_path(user) %></li>
              <% if user.disabled? %>
                <li><%= link_to 'Activate', toggle_enabled_user_path(user), confirm: 'Are you sure?', method: :put %></li>
              <% else %>
                <li><%= link_to 'Deactivate', toggle_enabled_user_path(user), confirm: 'Are you sure?', method: :put %></li>
                <% end %>  
              <li class="divider"></li>
              <li><%= link_to 'Delete', user, confirm: 'Are you sure?', method: :delete %>
              </li>
            </ul>
          </div>
       </td>    
      </tr>       
      <% end %>
  </tbody>
</table>
  </div>
</div>




<%= link_to 'Add New User', new_user_path %>



