<%= form_for @user, :html => {:class => 'form-horizontal'} do |f| %>
  <legend>Register</legend>
    <% if @user.errors.any? %>
        <div class="alert alert-error">
          <h3>We found <%= pluralize(@user.errors.count, "error") %> with your information:</h3>

          <ul>
            <% @user.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="control-group">
      <%= f.label :first_name, :class => "control-label"  %>
      <div class="controls">
        <%= f.text_field :first_name, :class => "text_field"  %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :last_name, :class => "control-label"  %>
      <div class="controls">
        <%= f.text_field :last_name, :class => "text_field"  %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :email, :class => "control-label"  %>
      <div class="controls">
        <%= f.text_field :email, :class => "text_field"  %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :password, :class => "control-label"  %>
      <div class="controls">
        <%= f.password_field :password, :class => "text_field"  %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :password_confirmation, :class => "control-label"  %>
      <div class="controls">
        <%= f.password_field :password_confirmation, :class => "text_field"  %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label 'I am a:', :class => "control-label"  %>
      <div class="controls">
        <% {'angler' => 'Angler', 'guide' => 'Guide', 'property_owner' => 'Property Owner'}.each do |key, val| %>
        <br><%= check_box_tag 'user[role_ids][]', Role.find_by_name(key).id, key == 'angler'%> <%= val %>
        <% end %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :state, :class => "control-label"  %>
      <div class="controls">
        <%= f.select :state, us_states %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :birthdate, :class => "control-label"  %>
      <div class="controls">
        <%= f.date_select :birthdate, :start_year => Time.now().year - 100, :end_year => Time.now().year - 18, :class => "text_field", :default => Time.now() - 21.years %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :state, :class => "control-label"  %>
      <div class="controls">
        <%= f.select :state, us_states %>
      </div>
    </div>

    <div class="control-group">

      <div class="controls">
        <input id="agreed_with_terms" type="checkbox"/>
         I have read and agree with the <a href="#"> FinAddictz Terms and Conditions.</a>      
       </div>
    </div>
    
    <div class="form-actions">
      <%= f.submit 'Register', :class => 'btn btn-primary', "onClick" => "return confirmEighteen();" %>
    </div>
<% end %>

<script type="text/javascript">
  function confirmEighteen() {
    if (!document.getElementById('agreed_with_terms').checked) {
      alert("You must read the terms and conditions and acknowledge that you agree.");
      return false;
    } else {
      return true;
    }
  }
</script>
