<%= form_for @advertisement, :html => {:class => 'form-horizontal'} do |f| %>
    <% if @advertisement.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@advertisement.errors.count, "error") %> prohibited this advertisement from being saved:</h2>

          <ul>
            <% @advertisement.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="control-group">
      <%= f.label :headline, :class => "control-label"  %>
      <div class="controls">
        <%= f.text_field :headline, :class => "text_field"  %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :description, :class => "control-label"  %>
      <div class="controls">
        <%= f.text_area :description, :class => "text_area", :rows => 8  %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :keywords, :class => "control-label"  %>
      <div class="controls">
        <%= f.text_field :contact_name, :class => "text_field"  %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :email, :class => "control-label"  %>
      <div class="controls">
        <%= f.text_field :email, :class => "text_field"  %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :company_name, :class => "control-label"  %>
      <div class="controls">
        <%= f.text_field :company_name, :class => "text_field"  %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :contact_name, :class => "control-label"  %>
      <div class="controls">
        <%= f.text_field :contact_name, :class => "text_field"  %>
      </div>
    </div>

    <div class="form-actions">
      <%= f.submit 'Submit', :class => 'btn btn-primary' %>
    </div>
<% end %>
