<h1>Advertisement Requests</h1>

<table class="table">
  <tr>
    <th>Headline</th>
    <th>Contact Name</th>
    <th>Contact Email</th>
    <th>Company</th>
    <th>Date Requested</th>
    <th>Manage</th>
  </tr>

<% @advertisements.each do |advertisement| %>
  <tr>
    <td><%= advertisement.headline %></td>
    <td><%= advertisement.contact_name %></td>
    <td><%= advertisement.email %></td>
    <td><%= advertisement.company_name %></td>
    <td><%= advertisement.created_at.strftime("%m/%d/%Y") %></td>
  
    <td>
      <%= link_to 'Show', advertisement, :class => 'btn btn-primary' %>
      <%= link_to 'Edit', edit_advertisement_path(advertisement), :class => 'btn btn-warning' %>
      <%= link_to 'Destroy', advertisement, confirm: 'Are you sure?', method: :delete, :class => 'btn btn-danger' %>
    </td>
  </tr>
<% end %>
</table>

