<p>
	<%= link_to 'Back', advertisements_path %>
</p>

<div class="span6">
	<div class="well">
		<p><%= @advertisement.headline %></p>
		<p><%= @advertisement.description %></p>
		<p><%= @advertisement.keywords %></p>
		<p><%= @advertisement.url %></p>
		<p><%= @advertisement.contact_name %></p>
		<p><%= @advertisement.email %></p>
		<p><%= @advertisement.company_name %></p>
		<%= image_tag @advertisement.photo.url(:full), :class => "img-polaroid" %>
		<p>
			This ad will be shown on <%= listPagesForAdvertisement(@advertisement) %> pages.
		</p>
		<hr/>
		<p>
			<%= link_to "Edit", edit_advertisement_path(@advertisement), :class => 'btn btn-primary' %>
		</p>
		
	</div>
</div>


