<ul class="nav pull-right">
  <li><%= link_to 'Post a Trip', new_angler_post_path%></li>
  <li class="divider-vertical"></li>
  <li><%= link_to "Guide Posts", guide_posts_url%></li>
  <li class="divider-vertical"></li>
  <li><%= link_to "Profile", @current_user %></li>
  <li class="divider-vertical"></li>
  <li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= current_user %> <b class="caret"></b></a>
    <ul class="dropdown-menu">
      <li><%= link_to "Inbox", conversations_url %></li>
      <%= render 'layouts/navbars/switch_roles' %>
      <li class="divider"></li>
      <li>
        <%= link_to "Logout", logout_url %>
      </li>
    </ul>
  </li>
</ul>