<ul class="nav pull-right">
	<li><%= link_to 'Trips Today', map_path%></li>
  <li class="divider-vertical"></li>
  
  <li><%= link_to 'Post a Trip', new_guide_post_path%></li>
  <li class="divider-vertical"></li>

  <%= render 'layouts/navbars/posts-dropdown' %>

  <li class="divider-vertical"></li>
  <li><%= link_to "Profile", @current_user %></li>
  <li class="divider-vertical"></li>

  <%= render 'layouts/navbars/profile-dropdown' %>
</ul>