<div>
	<%= @river %>
</div>


<%= gmaps({
       "map_options" => {"auto_zoom" => false, "zoom" => 15, "center_latitude" => @river.latitude, "center_longitude" => @river.longitude },
       "markers"     => {"data" => @river_json }
      })
%>

<%= link_to 'Edit', edit_river_path(@river) %> |
<%= link_to 'Back', rivers_path %>

<%= yield :scripts %> 

