<html>
<head>
<meta content="text/html; charset=ISO-8859-1"
http-equiv="content-type">
<title></title>
</head>
<body>

  <div class="scalable_image">
              <center><img src="images/guides2.jpg" style="width: 100%; height: 100%;" alt="scalable image" /> </center>
            

<%= form_for @user_session, :html => {:class => 'form-horizontal'} do |f| %>
  <% if @user_session.errors.any? %>


      <ul>
      <% @user_session.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    
  <% end %>
  <fieldset>
    <legend>Login</legend>
    <div class="control-group">
      <%= f.label :email, :class => "control-label" %>
      <div class="controls">
        <%= f.text_field :email, :class => "text_field" %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :password, :class => "control-label" %>
      <div class="controls">
        <%=  f.password_field :password, :class => "text_field" %>
      </div>
    </div>

    <div class="form-actions">
      <%= f.submit "Login" %>
    </div>
  </fieldset>
  
<% end %>

</body>
</html>