<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script> 
<!-- <div class="top-ad"><%=getAdForPage('Map Page').html_safe%></div> -->
<div class="horizontal-form-layout">
	<%= form_for request.path, :method => 'get' do |f|%>
		<div class="form-element-wrapper">
			<%= f.label 'Search Type:' %>
	    <select id="type" name="type">
	    	<option value="both" <% if params[:type] == "both" %> selected="selected" <% end %>>Guide and Angler Posts</option>
	    	<option value="angler" <% if params[:type] == "angler" %> selected="selected" <% end %>>Only Angler Posts</option>
	    	<option value="guide" <% if params[:type] == "guide" %> selected="selected" <% end %>>Only Guide Posts</option>
	    	
			</select>
		</div>
		<div class="form-element-wrapper">
	    <%= f.label :month %>
	    <select id="month" name="month">
	    	<% ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December' ].each_with_index.map do |month, i|%>
	    		<option <% if params[:month].to_i == i+1 %> selected="selected" <% end %> value="<%=i+1%>"><%=month%></option>
	    	<% end %>
			</select>
		</div>
		<div class="form-element-wrapper">
			<%= f.label :day %>
			<select id="day" name="day">
				<% Time.now.end_of_month.day.times do |i| %>
					<option <% if params[:day].to_i == i+1 %> selected="selected" <% end %>  value="<%=i+1%>"><%=i+1%></option>
				<% end %>
			</select>
		</div>
		<div class="clear"></div>
	  <%= f.submit 'Change Day', :class => 'btn btn-primary'%>
	  <div class="clear"></div>
	<% end %>
</div>
<p>
There are <%= @num_trips %> trips going out on this day.
</p>
<div id="map_canvas" style="width: 550px; height: 450px"></div> 


<script type="text/javascript"> 
//<![CDATA[
	$(document).ready(function () {
     // global "map" variable
      var map = null;
      var marker = null;
      <% if @booked_pins.count > 0 %>
      	var initialLat = <%= @booked_pins.last.latitude %>;
      	var initialLng = <%= @booked_pins.last.longitude %>;
      <% else %>
      	var initialLat = 40.0150;
      	var initialLng = -105.2700;
      <% end %>


			var infowindow = new google.maps.InfoWindow(
			  { 
			    size: new google.maps.Size(150,50)
			  });

			function createMarker(latlng, name, html, color) {
			    var contentString = html;
			    var marker = new google.maps.Marker({
			        position: latlng,
			        map: map,
			        icon:'/assets/'+color+'_pin.png'
			        //zIndex: Math.round(latlng.lat()*-100000)<<5
			     });

			    google.maps.event.addListener(marker, 'click', function() {
			        infowindow.setContent(contentString); 
			        infowindow.open(map,marker);
			        });
			    google.maps.event.trigger(marker, 'click');    
			    return marker;
			}

		 

			function initialize() {
			  // create the map
			  var myOptions = {
			    zoom: 6,
			    center: new google.maps.LatLng(initialLat, initialLng),
			    mapTypeControl: true,
			    mapTypeControlOptions: {style: google.maps.MapTypeControlStyle.DROPDOWN_MENU},
			    navigationControl: true,
			    mapTypeId: google.maps.MapTypeId.ROADMAP
			  }

			  map = new google.maps.Map(document.getElementById("map_canvas"),
			                                myOptions);

			  var latlng; 
			  var html;
			  <% @booked_pins.each do |p| %>
			  	latlng = new google.maps.LatLng(<%= p.latitude %>, <%= p.longitude %>); 
			  	<% if p.class == GuidePost %>
			  		html = '<%= link_to p.title, guide_post_url(p) %><br/>'
			  	<% else %>
			  		html = '<%= link_to p.title, angler_post_url(p) %><br/>'
			  	<% end %>
			  	html +=	'Date: <%= p.date%>'
			  	marker = createMarker(latlng, "name", html, "red");
			  <% end %>

			  <% @pending_pins.each do |p| %>
			  	latlng = new google.maps.LatLng(<%= p.latitude %>, <%= p.longitude %>); 
			  	html = '<%= link_to p.title, guide_post_url(p) %><br/>'+
			  					'Date: <%= p.date%>'
			  	marker = createMarker(latlng, "name", html, "yellow");
			  <% end %>
			  
			  

			}
			initialize();
		});
//]]>
</script> 